In [1]:
import pandas as pd

In [24]:
#задание 1
pd.read_csv('ratings.csv').merge(
    pd.read_csv('movies.csv'), how='left'
).query(
    'rating == 5'
).groupby('title').count()['movieId'].sort_values(ascending=False).reset_index().iloc[0, 0]

'Shawshank Redemption, The (1994)'

In [46]:
#задание 2
df = pd.read_csv('power.csv')
df[
    (df['country'].isin(['Latvia', 'Lithuania', 'Estonia'])) & 
    (df['category'].isin([4, 12, 21])) & 
    (df['year'] >= 2005) & (df['year'] <= 2010) &
    (df['quantity'] >= 0)
].groupby('country')['quantity'].sum().reset_index()

     country  quantity
0    Estonia   63440.0
1     Latvia   54844.0
2  Lithuania  122296.0