In [1]:
import pandas as pd

In [17]:
#задание 1
df = pd.read_csv('movies.csv').merge(pd.read_csv('ratings.csv'), how='left').groupby('title')['rating'].mean().reset_index()

In [21]:
def grouped_rating(row):
    if row['rating'] <= 2:
        return 'Низкий'
    if row['rating'] <= 4:
        return 'Средний'
    return 'Высокий'

In [22]:
df['grouped_rating'] = df.apply(grouped_rating, axis=1)

In [24]:
df.head()

                                     title    rating grouped_rating
0         "Great Performances" Cats (1998)  1.750000         Низкий
1                             $9.99 (2008)  3.833333        Средний
2  'Hellboy': The Seeds of Creation (2004)  2.000000         Низкий
3          'Neath the Arizona Skies (1934)  0.500000         Низкий
4                   'Round Midnight (1986)  2.250000        Средний

In [50]:
#задание 2
df2 = pd.read_csv('keywords.csv')
df2['keyword'] = df2['keyword'].str.lower()

In [51]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [52]:
def geo_region(row):
    for region in geo_data:
        for city in geo_data[region]:
            if city in row['keyword']:
                return region
    return 'undefined'

In [53]:
df2['region'] = df2.apply(geo_region, axis=1)
df2['region'].value_counts()

region
undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: count, dtype: int64